{% extends 'layout.html' %}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<form action="/Add_exam" method="post">
    <div class="mb-3">
        <select class="form-select form-select-xl mb-3" aria-label=".form-select-xl example" class="form-control" name="depname" id="id_department">
        <option selected>-----Select Department-----</option>
        {% for i in dep%}
        <option value="{{i.id}}">{{i.departmentname}}</option>
        {% endfor %}
      </select>
    </div>
      
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="semname" id="id_semester">
                <option selected>---- Select Semester------</option>
        {% for i in sem%}
        <option value="{{i.id}}" data-did="{{i.department.id}}">{{i.semestername}}</option>
        {% endfor %}
    
        <!-- <input type="submit"> -->
        {% csrf_token %}
        
    </select>
    <div class="mb-3">
        <select class="form-select form-select-xl mb-3" aria-label=".form-select-xl example" class="form-control" name="subname" id="id_subject">
        <option selected>-----Select Subject-----</option>
        {% for i in sub%}
        <option value="{{i.id}}" data-sem="{{i.semester.id}}">{{i.subname}}</option>
        {% endfor %}
      </select>
      <h1>fgcngfgfghfh</h1>

    <div class="form-group">
        <label for="name" class="form-label" style="color: red;">Examname:</label>
        <input type="text" name="examname" id="" class="form-input" style="width: 100%;" value="">
    </div>
    
    <div class="form-group">
        <label for="" class="form-label">Date:</label>
        <input type="date" name="date" id="" class="form-input" style="width: 100%;" value="">
    </div>  

    <div class="form-group">
        <label for="" class="form-label">Start time:</label>
        <input type="time" name="starttime" id="" class="form-input" style="width: 100%;" value="">
    </div> 

    <div class="form-group">
        <label for="" class="form-label">End time:</label>
        <input type="time" name="endtime" id="" class="form-input" style="width: 100%;" value="">
    </div> 
  

    <input type="submit">
</form>
   

<script>
    $("#id_department").change(function(){
    //   $("#id_semester").val('');
      $("#id_semester").children('option').hide();
      var id_department=$(this).val();
      $("#id_semester").children("option[data-did="+id_department+"]").show();
        
    })

    $(document).ready(function(){
        $("#id_semester").change(function(){
            var selectedDepartment = $(this).val();
            // $("#id_subject").val('');
            $("#id_subject").children('option').hide();
            $("#id_subject").children("option[data-sem=" + selectedDepartment +"]").show();
            // $("#id_semestername option[data-did='" + selectedDepartment + "']").show();
        });
    });
</script>
{%endblock%}