{% extends 'layout.html' %}
{% load static %}
{% block content %}


<table class="table">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Semester</th>
        <th scope="col">Subjuct</th>
        <th scope="col">Exam name</th>
        <th scope="col">Date </th>
        <th scope="col">Endtime</th>
        <th scope="col">Starttime</th>
        <!-- <th scope="col">endtime</th> -->
      </tr>
    </thead>
    <tbody>
      {% for i in exams %}
      <tr>
        <td>{{i.department.departmentname}}</td>
        <td>{{i.semester.semestername}}</td>
        <td>{{i.subname.subname}}</td>
        <td>{{i.examname}}</td>
        <td>{{i.date}}</td>
        <td>{{i.starttime}}</td>
        <td>{{i.endtime}}</td>
        <!-- <td>{{i.department}}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock%}