{% extends 'layout.html' %}
{% load static %}
{% block content %}


<table class="table">
    <thead>
      <tr>
        <th scope="col">roomname</th>
        <th scope="col">row</th>
        <th scope="col">column</th>
        <th scope="col">strength</th>
        <!-- <th scope="col">Date_of_birth</th>
        <th scope="col">Experience</th>
        <th scope="col">Qualification</th>
        <th scope="col">Department</th> -->
      </tr>
    </thead>
    <tbody>
      {% for i in rooms %}
      <tr>
        <td>{{i.roomname}}</td>
        <td>{{i.row}}</td>
        <td>{{i.column}}</td>
        <td>{{i.strength}}</td>
        <!-- <td>{{i.date_of_birth}}</td>
        <td>{{i.experience}}</td>
        <td>{{i.qualification}}</td>
        <td>{{i.department}}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock%}